@font-face {
    font-family: 'PoiretOne';
    src: url('font/PoiretOne-Regular.ttf');
}
@font-face {
    font-family: "Ysabeau Infant" !important;
    src: url('font/Ysabeau_Infant/YsabeauInfant-VariableFont_wght.ttf') format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');


*{font-family:'PoiretOne', sans-serif; text-align: left;}


.slidecontainer{
    font-family:'PoiretOne', sans-serif;
    border-image: linear-gradient(to right, #0041d9 0%, #00bf04 50%, #6301be 100%) 1;
    border-width: 4px;
    border-style: solid;
    padding: 5px;
    /* height:100vh; */
    width:100%;
}
.slidecontainer div{padding:30px;}

h1, h2, h3, h4, h5, h6{font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;}

.slides section {top:0;}

.firstslide{display:inline-flex;/*padding:30px;*/}
.firstslide > *{align-self: flex-end;}

.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {border-bottom: 1px solid;}